<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Not Found • 404</title>

    <link rel="icon" href="/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap"
    >
    <link rel="stylesheet" href="/styles.css">

    [hotReload]
  </head>

  <body>
    <main class="error">
      <h1 class="header header--small">
        <span class="text-theme error__status">404</span> Not Found
      </h1>
    </main>
  </body>
</html>
