<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>

    <link rel="icon" href="/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&family=Roboto+Mono&display=swap"
    >
    <link rel="stylesheet" href="/styles.css">

    @hotReload
  </head>

  <body>
    <main class="hero">
      <header class="hero__header">
        <img class="logo" src="/logo.png" alt="Entropy Logo">
  
        <h1 class="header">{{ message }}</h1>
      </header>

      @if (true)
        <p class="hero__info">
          Navigate to <code class="code">src/root.controller.ts</code>
          file to get started.
        </p>
      @else
        <p class="hero__info">
          This is a conditional else block, put something here!
        </p>
      @/if

      <a class="button" href="https://entropy.deno.dev" target="_blank">
        Learn Entropy
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3">
        </svg>
      </a>
    </main>
  </body>
</html>
