<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>

    <link rel="icon" href="/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&family=Roboto+Mono&display=swap"
    >
    <link rel="stylesheet" href="/styles.css">

    [hotReload]
  </head>

  <body>
    <main class="hero">
      <img class="logo" src="/logo.png" alt="Entropy Logo">
  
      <h1 class="header">{{ message }}</h1>

      [if (true)]
        <p class="hero__info">
          Navigate to <code class="code">src/root.controller.ts</code>
          file to get started.
        </p>
      [else]
        <p class="hero__info">
          This is a conditional else block, put something here!
        </p>
      [/if]

      <a class="button" href="https://entropy.deno.dev" target="_blank">
        Entropy Documentation
      </a>
    </main>
  </body>
</html>
