*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #000;
  --bg-block: #181818;
  --border: #232323;
  --font-mono: 'Roboto Mono', monospace;
  --font-sans: 'Inter', sans-serif;
  --text: #f5f5f5;
  --text-gray: #b2b2b2;
  --theme: #9868ff;
  --theme-light: #a981ff;
}

@keyframes bounce {
	0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

	40% {
    transform: translateY(-24px);
  }

	60% {
    transform: translateY(-14px);
  }
}

body {
  font-family: var(--font-sans);
  font-size: 15px;
  background: var(--bg);
  color: var(--text);
  display: grid;
  place-items: center;
  height: 100vh;
}

.hero {
  display: grid;
  place-items: center;
  gap: 28px;
}

.error__status {
  margin-right: 8px;
}

.logo {
  width: 110px;
  animation: bounce 2s ease infinite;
}

.header {
  font-size: 48px;
  line-height: 54px;
  font-weight: 600;
  letter-spacing: -1.2px;
  text-align: center;
}

.header--small {
  font-size: 32px;
  letter-spacing: -1px;
}

.text-theme {
  color: var(--theme);
}

.code {
  font-family: var(--font-mono);
  background: var(--bg-block);
  padding: 4px 7px;
  border-radius: 5px;
  font-size: 13px;
  border: 1px solid var(--border);
  border-bottom-width: 2px;
  margin: 0 2px;
}

.button {
  background: none;
  border: 2px solid var(--theme-light);
  color: var(--theme-light);
  padding: 9px 16px;
  border-radius: 22px;
  display: block;
  text-decoration: none;
  font: inherit;
  margin-top: 12px;
  user-select: none;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

@media (min-width: 800px) {
  .header {
    font-size: 36px;
  }
}
