*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #fff;
  --bg-code: #f5f3ff;
  --font-mono: 'Roboto Mono', monospace;
  --font-sans: 'Urbanist', sans-serif;
  --text: #2e1065;
  --text-button: #ecfccb;
  --text-code: #6d28d9;
  --text-gray: #c4cbd9;
  --text-dark: #2e1065;
  --selection: #c4b5fd;
  --theme: #8b5cf6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #131214;
    --bg-code: #231a34;
    --text: #e2e6ec;
    --text-button: #1a2e05;
    --text-code: #c4bed1;
    --theme: #a78bfa;
  }
}

::selection {
  background: var(--selection);
  color: var(--text-dark);
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-16px);
  }

  60% {
    transform: translateY(-12px);
  }
}

body {
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1px;
  background: var(--bg);
  color: var(--text);
  display: grid;
  place-items: center;
  height: 100vh;
}

.hero {
  display: grid;
  place-items: center;
  gap: 38px;
}

.hero__header {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 28px;
}

.hero__message {
  font-weight: 600;
}

.hero__info {
  font-size: 18px;
}

.error__status {
  margin-right: 8px;
  letter-spacing: 0;
}

.logo {
  width: 98px;

  @media (prefers-reduced-motion: no-preference) {
    animation: bounce 1.8s cubic-bezier(0.62, 0.6, 0.33, 0.68) infinite;
  }
}

.header {
  font-size: 40px;
  line-height: 54px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;

  @media (min-width: 800px) {
    font-size: 56px;
  }
}

.header--small {
  font-size: 32px;
  letter-spacing: -0.5px;
}

.text-theme {
  color: var(--theme);
}

.code {
  font-family: var(--font-mono);
  background: var(--bg-code);
  color: var(--text-code);
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 15px;
  margin: 0 2px;
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  font: inherit;
  font-weight: 600;
  background: var(--theme);
  color: var(--text-button);
  border-radius: 25px;
  padding: 14px 20px;
  text-decoration: none;
  margin-top: 12px;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.9;

    & svg {
      translate: 3px;
    }
  }

  & svg {
    width: 20px;
    height: 20px;
    opacity: 0.9;
    transition: all 0.25s ease;
  }
}
